SMTP_HOST=mail.your-domain.ch
SMTP_PORT=465
SMTP_USER=info@flussbus.ch
SMTP_PASS=your-mailbox-password
CONTACT_FROM_EMAIL=info@flussbus.ch
CONTACT_TO_EMAIL=info@flussbus.ch

NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/rhylounge_eventschiff/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@flussbus?is_from_webapp=1&sender_device=pc
